@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --fz-h1: 9.6rem;
  --fz-h2: 6rem;
  --fz-h3: 4.8rem;
  --fz-h4: 3.4rem;
  --fz-h5: 2.4rem;
  --fz-h6: 2rem;
  --fz-sb1: 1.6rem;
  --fz-sb2: 1.4rem;
  --fz-bd1: 1.6rem;
  --fz-bd2: 1.4rem;
  --fz-btn: 1.4rem;
  --fz-cap: 1.2rem;
  --fz-ovl: 1rem;

  --c-prim: #02ce57;
  --c-prim-light: #30ffa5;

  // Secondary colors are best for:
  //    Floating action buttons
  //    Selection controls, like sliders and switches
  //    Highlighting selected text
  //    Progress bars
  //    Links and headlines
  --c-sec: #3672d3;
  --c-sec-light: #477ed7;

  // On” colors are primarily applied to text, iconography, and strokes.
  // Sometimes, they are applied to surfaces
  --c-on-prim: #ffffff;
  --c-on-sec: #ffffff;
  --c-on-bg: #000000;
  --c-on-surface: #000000;
  --c-on-err: #ffffff;

  // The background color appears behind scrollable content
  --c-bg: #f6f6f6;

  // Surface colors affect surfaces of components, such as cards, sheets, and menus.
  --c-surface: #ffffff;

  // Error color indicates errors in components, such as invalid text in a text field.
  --c-err: #fa3838;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
