.forgotPassword {
  display: grid;
  justify-items: center;
  grid-row-gap: 3rem;
  grid-area: center;
  align-content: center;

  box-shadow: var(--box-shadow);
  padding: 3rem;

  width: 50vw;
  height: 70vh;

  &_form {
    display: grid;
    grid-row-gap: 2rem;
    justify-content: center;
    align-content: center;
    font-size: var(--fz-bd1);
    font-weight: 500;
  }

  &_content {
    display: grid;
    grid-row-gap: 1rem;
  }

  input[type='email'] {
    padding: 1rem;
    font-size: var(--fz-bd1);
  }

  &_title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--fz-h6);
  }

  &_submitBox {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    color: var(--c-sec);
    justify-content: space-between;
  }

  &_txt {
    font-size: var(--fz-cap);
  }
}
