.header {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: space-between;

  height: 7vh;
  padding: 0 2rem;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  // background-color: var(--c-bg);
  background-color: #202020;

  &_logo {
    width: 5rem;
  }
}

