.header {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 2rem;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  background-color: var(--c-prim);

  &_logo {
    width: 5rem;
  }
}
